<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bc.wechat.server.mapper.AddressMapper">

    <resultMap id="address" type="com.bc.wechat.server.entity.Address">
        <id column="address_id" property="addressId" jdbcType="VARCHAR"/>
        <result column="user_id" property="userId" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="province" property="province" jdbcType="VARCHAR"/>
        <result column="city" property="city" jdbcType="BIGINT"/>
        <result column="district" property="district" jdbcType="VARCHAR"/>
        <result column="detail" property="detail" jdbcType="VARCHAR"/>
        <result column="post_code" property="postCode" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="VARCHAR"/>
        <result column="modify_time" property="modifyTime" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="addAddress" parameterType="com.bc.wechat.server.entity.Address">
        insert into t_user_address
        (
        address_id,
        user_id,
        name,
        phone,
        province,
        city,
        district,
        detail,
        post_code,
        create_time,
        modify_time
        )
        values
        (
        #{addressId},
        #{userId},
        #{name},
        #{phone},
        #{province},
        #{city},
        #{district},
        #{detail},
        #{postCode},
        now(),
        now()
        )
    </insert>

    <update id="modifyAddress" parameterType="com.bc.wechat.server.entity.Address">
        update t_user_address
        set name = #{name},
        phone = #{phone},
        <if test="province != null and province != ''">
            province = #{province},
        </if>
        <if test="city!=null and city != ''">
            city = #{city},
        </if>
        <if test="district != null and district != ''">
            district = #{district},
        </if>
        detail = #{detail},
        post_code = #{postCode},
        modify_time = now()
        where address_id = #{addressId}
    </update>

    <select id="getAddressListByUserId" resultMap="address" parameterType="String">
        select *
        from t_user_address
        where user_id = #{userId}
        order by modify_time desc
    </select>

    <delete id="deleteAddress" parameterType="String">
        delete from t_user_address
        where address_id = #{addressId}
    </delete>

</mapper>