<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bc.wechat.server.mapper.AreaMapper">

    <resultMap id="province" type="com.bc.wechat.server.entity.area.Province">
        <id column="province_id" property="id" jdbcType="VARCHAR"/>
        <result column="province_name" property="name" jdbcType="VARCHAR"/>
        <result column="province_seq" property="seq" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="City" type="com.bc.wechat.server.entity.area.City">
        <id column="city_id" property="id" jdbcType="VARCHAR"/>
        <result column="province_id" property="provinceId" jdbcType="VARCHAR"/>
        <result column="city_name" property="name" jdbcType="VARCHAR"/>
        <result column="city_seq" property="seq" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="District" type="com.bc.wechat.server.entity.area.District">
        <id column="district_id" property="id" jdbcType="VARCHAR"/>
        <result column="city_id" property="cityId" jdbcType="VARCHAR"/>
        <result column="district_name" property="name" jdbcType="VARCHAR"/>
        <result column="district_post_code" property="postCode" jdbcType="VARCHAR"/>
        <result column="district_seq" property="seq" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="addProvince" parameterType="com.bc.wechat.server.entity.area.Province">
        insert into t_area_province
        (
        province_id,
        province_name,
        province_seq
        )
        values
        (
        #{id},
        #{name},
        #{seq}
        )
    </insert>

    <update id="updateProvince" parameterType="com.bc.wechat.server.entity.area.Province">
        update t_area_province
        set province_name = #{name},
        province_seq = #{seq}
        where province_id = #{id}
    </update>

    <insert id="saveCity" parameterType="com.bc.wechat.server.entity.area.City">
        insert into t_area_city
        (
        city_id,
        province_id,
        city_name,
        city_seq
        )
        values
        (
        #{id},
        #{provinceId},
        #{name},
        #{seq}
        )
    </insert>

    <insert id="saveDistrict" parameterType="com.bc.wechat.server.entity.area.District">
        insert into t_area_district
        (
        district_id,
        city_id,
        district_name,
        district_post_code,
        district_seq
        )
        values
        (
        #{id},
        #{cityId},
        #{name},
        #{postCode},
        #{seq}
        )
    </insert>

    <select id="getProvinceList" resultMap="province">
        select *
        from t_area_province
        order by province_seq asc
    </select>

    <select id="getProvinceCount" resultType="long">
        select count(*) from t_area_province
    </select>

    <delete id="deleteProvince" parameterType="String">
        delete from t_area_province
        where province_id = #{provinceId}
    </delete>

    <update id="batchUpdateProvinceSeq" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update t_area_province
            <set>
                province_seq = ${item.seq}
            </set>
            where province_id = '${item.id}'
        </foreach>
    </update>

    <select id="getCityListByProvinceId" resultMap="City" parameterType="String">
        select *
        from t_area_city
        where province_id = #{provinceId}
        order by city_seq asc
    </select>

    <select id="getDistrictListByCityId" resultMap="District" parameterType="String">
        select *
        from t_area_district
        where city_id = #{cityId}
        order by district_seq asc
    </select>

</mapper>