<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bc.wechat.server.mapper.UserLoginDeviceMapper">

    <resultMap id="userLoginDevice" type="com.bc.wechat.server.entity.UserLoginDevice">
        <id column="device_id" property="deviceId" jdbcType="VARCHAR"/>
        <result column="user_id" property="userId" jdbcType="VARCHAR"/>
        <result column="phone_brand" property="phoneBrand" jdbcType="VARCHAR"/>
        <result column="phone_model" property="phoneModel" jdbcType="VARCHAR"/>
        <result column="phone_model_alias" property="phoneModelAlias" jdbcType="VARCHAR"/>
        <result column="os" property="os" jdbcType="VARCHAR"/>
        <result column="resolution" property="resolution" jdbcType="BIGINT"/>
        <result column="operator" property="operator" jdbcType="VARCHAR"/>
        <result column="login_time" property="loginTime" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="addUserLoginDevice" parameterType="com.bc.wechat.server.entity.UserLoginDevice">
        insert into t_user_login_device
        (
        device_id,
        user_id,
        phone_brand,
        phone_model,
        os,
        resolution,
        operator,
        login_time
        )
        values
        (
        #{deviceId},
        #{userId},
        #{phoneBrand},
        #{phoneModel},
        #{os},
        #{resolution},
        #{operator},
        now()
        )
    </insert>

    <select id="getUserLoginDeviceListByUserId" resultMap="userLoginDevice" parameterType="String">
        select *
        from t_user_login_device
        where user_id = #{userId}
        order by login_time desc
    </select>

    <update id="updateUserLoginDevice" parameterType="com.bc.wechat.server.entity.UserLoginDevice">
        update t_user_login_device
        set phone_model_alias = #{phoneModelAlias}
        where device_id = #{deviceId}
    </update>

</mapper>