<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bc.wechat.server.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.bc.wechat.server.entity.User">
        <id column="user_id" property="userId" jdbcType="VARCHAR"/>
        <result column="user_wx_id" property="userWxId" jdbcType="VARCHAR"/>
        <result column="user_nick_name" property="userNickName" jdbcType="VARCHAR"/>
        <result column="user_avatar" property="userAvatar" jdbcType="VARCHAR"/>
        <result column="user_sex" property="userSex" jdbcType="VARCHAR"/>
        <result column="user_phone" property="userPhone" jdbcType="VARCHAR"/>
        <result column="user_password" property="userPassword" jdbcType="VARCHAR"/>
        <result column="user_im_password" property="userImPassword" jdbcType="VARCHAR"/>
        <result column="user_sign" property="userSign" jdbcType="VARCHAR"/>
        <result column="user_wx_id_modify_flag" property="userWxIdModifyFlag" jdbcType="VARCHAR"/>
        <result column="user_qr_code" property="userQrCode" jdbcType="VARCHAR"/>
        <result column="user_lastest_circle_photos" property="userLastestCirclePhotos" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getUserByLogin" resultMap="BaseResultMap">
        select
          *
        from t_user
          where user_phone = #{phone}
          and user_password = #{password}
    </select>

    <insert id="addUser" parameterType="com.bc.wechat.server.entity.User">
        insert into t_user
        (
            user_id,
            user_wx_id,
            user_nick_name,
            user_phone,
            user_password,
            user_im_password,
            user_create_time,
            user_modify_time
        )
        values
        (
            #{userId},
            #{userWxId},
            #{userNickName},
            #{userPhone},
            #{userPassword},
            #{userImPassword},
            now(),
            now()
        )
    </insert>

    <update id="updateUserNickName" parameterType="map">
        update t_user
          set user_nick_name = #{userNickName},
              user_modify_time = now()
            where user_id = #{userId}
    </update>

    <update id="updateUserWxId" parameterType="map">
        update t_user
          set user_wx_id = #{userWxId},
              user_wx_id_modify_flag = #{userWxIdModifyFlag},
              user_modify_time = now()
            where user_id = #{userId}
    </update>

    <update id="updateUserSex" parameterType="map">
        update t_user
          set user_sex = #{userSex},
              user_modify_time = now()
            where user_id = #{userId}
    </update>

    <update id="updateUserAvatar" parameterType="map">
        update t_user
          set user_avatar = #{userAvatar},
              user_modify_time = now()
            where user_id = #{userId}
    </update>

    <update id="updateUserSign" parameterType="map">
        update t_user
          set user_sign = #{userSign},
              user_modify_time = now()
            where user_id = #{userId}
    </update>

    <update id="updateUserQrCode" parameterType="map">
        update t_user
          set user_qr_code = #{userQrCode},
              user_modify_time = now()
            where user_id = #{userId}
    </update>

    <update id="updateUserLastestCirclePhotos" parameterType="map">
        update t_user
          set user_lastest_circle_photos = #{userLastestCirclePhotos}
            where user_id = #{userId}
    </update>

    <select id="getUserByKeyword" resultMap="BaseResultMap" parameterType="String">
        select
          *
        from t_user
          where user_phone = #{keyword}
            or user_wx_id = #{keyword}
    </select>

    <select id="getUserByUserId" resultMap="BaseResultMap" parameterType="String">
        select
          *
        from t_user
          where user_id = #{userId}
    </select>

    <select id="getAllUserList" resultMap="BaseResultMap">
        select
          *
        from t_user
    </select>

    <select id="getUserByUserPhone" resultMap="BaseResultMap">
        select
        *
        from t_user
          where user_phone = #{userPhone}
    </select>
</mapper>