<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bc.wechat.server.mapper.UserContactMapper">

    <resultMap id="UserContact" type="com.bc.wechat.server.entity.UserContact">
        <id column="contact_id" property="contactId" jdbcType="VARCHAR"/>
        <result column="user_id" property="userId" jdbcType="VARCHAR"/>
        <result column="contact_user_id" property="contactUserId" jdbcType="VARCHAR"/>

        <result column="contact_alias" property="contactAlias" jdbcType="VARCHAR"/>
        <result column="contact_tags" property="contactTags" jdbcType="VARCHAR"/>
        <result column="contact_mobiles" property="contactMobiles" jdbcType="VARCHAR"/>
        <result column="contact_desc" property="contactDesc" jdbcType="VARCHAR"/>

        <result column="contact_from" property="contactFrom" jdbcType="VARCHAR"/>

        <result column="privacy" property="privacy" jdbcType="VARCHAR"/>
        <result column="hide_my_posts" property="hideMyPosts" jdbcType="VARCHAR"/>
        <result column="hide_his_posts" property="hideHisPosts" jdbcType="VARCHAR"/>

        <result column="is_starred" property="isStarred" jdbcType="VARCHAR"/>
        <result column="is_blocked" property="isBlocked" jdbcType="VARCHAR"/>

        <result column="create_time" property="createTime" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="User" type="com.bc.wechat.server.entity.User">
        <id column="user_id" property="userId" jdbcType="VARCHAR"/>
        <result column="user_wx_id" property="userWxId" jdbcType="VARCHAR"/>
        <result column="user_type" property="userType" jdbcType="VARCHAR"/>
        <result column="user_nick_name" property="userNickName" jdbcType="VARCHAR"/>
        <result column="user_avatar" property="userAvatar" jdbcType="VARCHAR"/>
        <result column="user_sex" property="userSex" jdbcType="VARCHAR"/>
        <result column="user_phone" property="userPhone" jdbcType="VARCHAR"/>
        <result column="user_sign" property="userSign" jdbcType="VARCHAR"/>
        <result column="user_lastest_moments_photos" property="userLastestMomentsPhotos" jdbcType="VARCHAR"/>

        <result column="rela_contact_alias" property="userContactAlias" jdbcType="VARCHAR"/>
        <result column="rela_contact_mobiles" property="userContactMobiles" jdbcType="VARCHAR"/>
        <result column="rela_contact_desc" property="userContactDesc" jdbcType="VARCHAR"/>

        <result column="rela_is_starred" property="isStarred" jdbcType="VARCHAR"/>
        <result column="rela_is_blocked" property="isBlocked" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getUserContactListByUserIdAndContactUserId" resultMap="UserContact" parameterType="map">
        select
        *
        from t_user_contact
        where user_id = #{userId}
        and contact_user_id = #{contactUserId}
        <if test="status != null and '' != status">
            and status = #{status}
        </if>
    </select>

    <insert id="addUserRela" parameterType="com.bc.wechat.server.entity.UserContact">
        insert into t_user_rela
        (
        rela_id,
        rela_user_id,
        rela_contact_id,
        rela_status,
        rela_contact_from,
        rela_contact_mobiles,
        rela_contact_alias,
        rela_contact_desc,
        rela_privacy,
        rela_hide_my_posts,
        rela_hide_his_posts,
        rela_create_time
        )
        values
        (
        #{relaId},
        #{relaUserId},
        #{relaContactId},
        #{relaStatus},
        #{relaContactFrom},
        #{relaContactMobiles},
        #{relaContactAlias},
        #{relaContactDesc},
        #{relaPrivacy},
        #{relaHideMyPosts},
        #{relaHideHisPosts},
        now()
        )
    </insert>

    <update id="updateUserContact" parameterType="com.bc.wechat.server.entity.UserContact">
        update t_user_contact
        set
        <if test="status != null and status !=''">
            status = #{status},
        </if>
        <if test="contactFrom != null and contactFrom !=''">
            contact_from = #{contactFrom},
        </if>
        contact_alias = #{contactAlias},
        contact_mobiles = #{contactMobiles},
        contact_desc = #{contactDesc},
        modify_time = now()
        where contact_id = #{contactId}
    </update>

    <update id="saveContactPrivacy" parameterType="com.bc.wechat.server.entity.UserContact">
        update t_user_contact
        set
        <if test="privacy != null and privacy !=''">
            privacy = #{privacy},
        </if>
        <if test="hideMyPosts != null and hideMyPosts !=''">
            hide_my_posts = #{hideMyPosts},
        </if>
        <if test="hideHisPosts != null and hideHisPosts !=''">
            hide_his_posts = #{hideHisPosts},
        </if>
        modify_time = now()
        where contact_id = #{contactId}
    </update>

    <update id="updateContactPrivacy" parameterType="com.bc.wechat.server.entity.UserContact">
        update t_user_rela
        set
        rela_contact_from = #{relaContactFrom},
        rela_contact_alias = #{relaContactAlias},
        rela_privacy = #{relaPrivacy},
        rela_hide_my_posts = #{relaHideMyPosts},
        rela_hide_his_posts = #{relaHideHisPosts},
        rela_update_time = now()
        where rela_id = #{relaId}
    </update>

    <select id="getContactList" resultMap="User" parameterType="String">
        select u.*, ur.rela_contact_alias, ur.rela_contact_mobiles,
        ur.rela_contact_desc, ur.rela_is_starred, ur.rela_is_blocked
        from t_user_rela ur
        left join t_user u on ur.rela_contact_id = u.user_id
        where ur.rela_user_id = #{userId}
        and rela_status = '1'
        and rela_is_blocked = '0'
    </select>

    <update id="deleteContact" parameterType="map">
        delete from t_user_contact
        where user_id = #{userId}
        and contact_user_id = #{contactUserId}
    </update>

    <insert id="addUserRelaTags" parameterType="com.bc.wechat.server.entity.UserContact">
        insert into t_user_rela
        (
        rela_id,
        rela_user_id,
        rela_contact_id,
        rela_status,
        rela_contact_tags,
        rela_create_time
        )
        values
        (
        #{relaId},
        #{relaUserId},
        #{relaContactId},
        #{relaStatus},
        #{relaContactTags},
        now()
        )
    </insert>

    <update id="updateUserContactTags" parameterType="com.bc.wechat.server.entity.UserContact">
        update t_user_contact
        set
        contact_tags = #{contactTags},
        modify_time = now()
        where contact_id = #{contactId}
    </update>

    <update id="setContactStarred" parameterType="map">
        update t_user_rela
        set
        rela_is_starred = #{isStarred}
        where rela_user_id = #{userId}
        and rela_contact_id = #{contactId}
    </update>

    <update id="setContactBlocked" parameterType="map">
        update t_user_rela
        set
        rela_is_blocked = #{isBlocked}
        where rela_user_id = #{userId}
        and rela_contact_id = #{contactId}
    </update>
</mapper>