<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bc.wechat.server.mapper.UserRelaMapper">
    <resultMap id="UserRela" type="com.bc.wechat.server.entity.UserRela">
        <id column="rela_id" property="relaId" jdbcType="VARCHAR"/>
        <result column="rela_user_id" property="relaUserId" jdbcType="VARCHAR"/>
        <result column="rela_contact_id" property="relaContactId" jdbcType="VARCHAR"/>
        <result column="rela_create_time" property="relaCreateTime" jdbcType="VARCHAR"/>

        <result column="rela_contact_alias" property="relaContactAlias" jdbcType="VARCHAR"/>
        <result column="rela_contact_tags" property="relaContactTags" jdbcType="VARCHAR"/>
        <result column="rela_contact_mobiles" property="relaContactMobiles" jdbcType="VARCHAR"/>
        <result column="rela_contact_desc" property="relaContactDesc" jdbcType="VARCHAR"/>

        <result column="rela_contact_from" property="relaContactFrom" jdbcType="VARCHAR"/>

        <result column="rela_privacy" property="relaPrivacy" jdbcType="VARCHAR"/>
        <result column="rela_hide_my_posts" property="relaHideMyPosts" jdbcType="VARCHAR"/>
        <result column="rela_hide_his_posts" property="relaHideHisPosts" jdbcType="VARCHAR"/>

        <result column="rela_is_starred" property="relaIsStarred" jdbcType="VARCHAR"/>
        <result column="rela_is_blocked" property="relaIsBlocked" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="User" type="com.bc.wechat.server.entity.User">
        <id column="user_id" property="userId" jdbcType="VARCHAR"/>
        <result column="user_wx_id" property="userWxId" jdbcType="VARCHAR"/>
        <result column="user_type" property="userType" jdbcType="VARCHAR"/>
        <result column="user_nick_name" property="userNickName" jdbcType="VARCHAR"/>
        <result column="user_avatar" property="userAvatar" jdbcType="VARCHAR"/>
        <result column="user_sex" property="userSex" jdbcType="VARCHAR"/>
        <result column="user_phone" property="userPhone" jdbcType="VARCHAR"/>
        <result column="user_sign" property="userSign" jdbcType="VARCHAR"/>
        <result column="user_lastest_moments_photos" property="userLastestMomentsPhotos" jdbcType="VARCHAR"/>

        <result column="rela_contact_alias" property="userContactAlias" jdbcType="VARCHAR"/>
        <result column="rela_contact_mobiles" property="userContactMobiles" jdbcType="VARCHAR"/>
        <result column="rela_contact_desc" property="userContactDesc" jdbcType="VARCHAR"/>

        <result column="rela_is_starred" property="isStarred" jdbcType="VARCHAR"/>
        <result column="rela_is_blocked" property="isBlocked" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getUserRelaListByUserIdAndContactId" resultMap="UserRela" parameterType="map">
        select
        *
        from t_user_rela
        where rela_user_id = #{userId}
        and rela_contact_id = #{contactId}
        <if test="status != null and '' != status">
            and rela_status = #{status}
        </if>
    </select>

    <insert id="addUserRela" parameterType="com.bc.wechat.server.entity.UserRela">
        insert into t_user_rela
        (
        rela_id,
        rela_user_id,
        rela_contact_id,
        rela_status,
        rela_contact_from,
        rela_contact_mobiles,
        rela_contact_alias,
        rela_contact_desc,
        rela_privacy,
        rela_hide_my_posts,
        rela_hide_his_posts,
        rela_create_time
        )
        values
        (
        #{relaId},
        #{relaUserId},
        #{relaContactId},
        #{relaStatus},
        #{relaContactFrom},
        #{relaContactMobiles},
        #{relaContactAlias},
        #{relaContactDesc},
        #{relaPrivacy},
        #{relaHideMyPosts},
        #{relaHideHisPosts},
        now()
        )
    </insert>

    <update id="updateUserRela" parameterType="com.bc.wechat.server.entity.UserRela">
        update t_user_rela
        set
        <if test="relaStatus != null and relaStatus !=''">
            rela_status = #{relaStatus},
        </if>
        <if test="relaContactFrom != null and relaContactFrom !=''">
            rela_contact_from = #{relaContactFrom},
        </if>
        rela_contact_mobiles = #{relaContactMobiles},
        rela_contact_alias = #{relaContactAlias},
        rela_contact_desc = #{relaContactDesc},
        rela_update_time = now()
        where rela_id = #{relaId}
    </update>

    <update id="setContactPrivacy" parameterType="com.bc.wechat.server.entity.UserRela">
        update t_user_rela
        set
        <if test="relaPrivacy != null and relaPrivacy !=''">
            rela_privacy = #{relaPrivacy},
        </if>
        <if test="relaHideMyPosts != null and relaHideMyPosts !=''">
            rela_hide_my_posts = #{relaHideMyPosts},
        </if>
        <if test="relaHideHisPosts != null and relaHideHisPosts !=''">
            rela_hide_his_posts = #{relaHideHisPosts},
        </if>
        rela_update_time = now()
        where rela_id = #{relaId}
    </update>

    <update id="updateContactPrivacy" parameterType="com.bc.wechat.server.entity.UserRela">
        update t_user_rela
        set
        rela_contact_from = #{relaContactFrom},
        rela_contact_alias = #{relaContactAlias},
        rela_privacy = #{relaPrivacy},
        rela_hide_my_posts = #{relaHideMyPosts},
        rela_hide_his_posts = #{relaHideHisPosts},
        rela_update_time = now()
        where rela_id = #{relaId}
    </update>

    <select id="getContactList" resultMap="User" parameterType="String">
        select u.*, ur.rela_contact_alias, ur.rela_contact_mobiles,
        ur.rela_contact_desc, ur.rela_is_starred, ur.rela_is_blocked
        from t_user_rela ur
        left join t_user u on ur.rela_contact_id = u.user_id
        where ur.rela_user_id = #{userId}
        and rela_status = '1'
        and rela_is_blocked = '0'
    </select>

    <update id="deleteContact" parameterType="map">
        delete from t_user_rela
        where rela_user_id = #{userId}
        and rela_contact_id = #{contactId}
    </update>

    <insert id="addUserRelaTags" parameterType="com.bc.wechat.server.entity.UserRela">
        insert into t_user_rela
        (
        rela_id,
        rela_user_id,
        rela_contact_id,
        rela_status,
        rela_contact_tags,
        rela_create_time
        )
        values
        (
        #{relaId},
        #{relaUserId},
        #{relaContactId},
        #{relaStatus},
        #{relaContactTags},
        now()
        )
    </insert>

    <update id="updateUserRelaTags" parameterType="com.bc.wechat.server.entity.UserRela">
        update t_user_rela
        set
        rela_contact_tags = #{relaContactTags},
        rela_update_time = now()
        where rela_id = #{relaId}
    </update>

    <update id="setContactStarred" parameterType="map">
        update t_user_rela
        set
        rela_is_starred = #{isStarred}
        where rela_user_id = #{userId}
        and rela_contact_id = #{contactId}
    </update>

    <update id="setContactBlocked" parameterType="map">
        update t_user_rela
        set
        rela_is_blocked = #{isBlocked}
        where rela_user_id = #{userId}
        and rela_contact_id = #{contactId}
    </update>
</mapper>