<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bc.wechat.server.mapper.UserRelaMapper">
    <resultMap id="BaseResultMap" type="com.bc.wechat.server.entity.UserRela">
        <id column="rela_id" property="relaId" jdbcType="VARCHAR"/>
        <result column="rela_user_id" property="relaUserId" jdbcType="VARCHAR"/>
        <result column="rela_friend_id" property="relaFriendId" jdbcType="VARCHAR"/>
        <result column="rela_create_time" property="relaCreateTime" jdbcType="VARCHAR"/>

        <result column="rela_friend_phone" property="relaFriendPhone" jdbcType="VARCHAR"/>
        <result column="rela_friend_remark" property="relaFriendRemark" jdbcType="VARCHAR"/>
        <result column="rela_friend_desc" property="relaFriendDesc" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="User" type="com.bc.wechat.server.entity.User">
        <id column="user_id" property="userId" jdbcType="VARCHAR"/>
        <result column="user_wx_id" property="userWxId" jdbcType="VARCHAR"/>
        <result column="user_nick_name" property="userNickName" jdbcType="VARCHAR"/>
        <result column="user_avatar" property="userAvatar" jdbcType="VARCHAR"/>
        <result column="user_sex" property="userSex" jdbcType="VARCHAR"/>
        <result column="user_phone" property="userPhone" jdbcType="VARCHAR"/>
        <result column="user_sign" property="userSign" jdbcType="VARCHAR"/>
        <result column="user_lastest_circle_photos" property="userLastestCirclePhotos" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getUserRelaListByUserIdAndFriendId" resultMap="BaseResultMap" parameterType="map">
        select
          *
        from t_user_rela
          where rela_user_id = #{userId}
            and rela_friend_id = #{friendId}
            and rela_delete_flag = '0'
            and rela_status = '1'
    </select>

    <insert id="addUserRela" parameterType="com.bc.wechat.server.entity.UserRela">
        insert into t_user_rela
        (
            rela_id,
            rela_user_id,
            rela_friend_id,
            rela_status,
            rela_create_time
        )
        values
        (
            #{relaId},
            #{relaUserId},
            #{relaFriendId},
            #{relaStatus},
            now()
        )
    </insert>

    <select id="getFriendList" resultMap="User" parameterType="String">
        select u.* from t_user_rela ur
	      left join t_user u on ur.rela_friend_id = u.user_id
            where ur.rela_user_id = #{userId}
              and ur.rela_delete_flag = '0'
              and rela_status = '1'
    </select>

    <update id="deleteFriend" parameterType="map">
        update t_user_rela
          set rela_delete_flag = '1',
              rela_delete_time = now()
          where rela_user_id = #{userId}
            and rela_friend_id = #{friendId}
    </update>
</mapper>